@{ 
    ViewBag.Title = "Access Denied";
}

<div class="row">
    <div class="col text-center text-danger">
        <h2>Access Denied!</h2>
        <h6>You do not have permission to view this page.</h6>
        <i class="bi bi-shield-fill-exclamation" style="font-size: 100px;"></i>
    </div>
</div>