@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    @*<environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css">
        </environment>
        <environment exclude="Development">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha256-YvdLHPgkqJ8DVUxjjnGVlMMJtNimJ6dYkowFFvp4kKs=" crossorigin="anonymous"
            asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only"
            asp-fallback-test-property="position"
            asp-fallback-test-value="absolute"
            asp-suppress-fallback-integrity="true">
        </environment>*@
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="sticky-top shadow">
        <div class="navbar navbar-dark bg-dark navbar-expand-sm px-3">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/images/people.png" alt="Employees Logo" asp-append-version="true" height="35" />
            </a>
            <button class="navbar-toggler float-end" data-bs-target="#navLinks" data-bs-toggle="collapse">
                <i class="navbar-toggler-icon"></i>
            </button>
            <div class="navbar-collapse collapse" id="navLinks">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Create">Create</a>
                    </li>
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Manage
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-action="ListUsers" asp-controller="Administration">Users</a></li>
                                <li><a class="dropdown-item" asp-action="ListRoles" asp-controller="Administration">Roles</a></li>
                            </ul>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav ms-auto">
                    @if (signInManager.IsSignedIn(User)) //or use User.Identity.IsAuthenticated
                    {
                        <li class="nav-item">
                            <form id="logout" asp-action="Logout" asp-controller="Account" method="post">
                                <button type="submit" class="nav-link btn btn-link">
                                    Logout (@User.Identity.Name)
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </header>
    <section class="container-fluid">
        @RenderBody()
    </section>
    @*@RenderSection("Script", required: false)*@

    @*<environment include="Development">
            <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.js" integrity="sha256-htsAUOIgN8xkootpQUzmvaCbQo6x2PNMTD7kLWI6yYQ=" crossorigin="anonymous"
                    asp-fallback-src="~/lib/bootstrap/js/bootstrap.bundle.min.js"
                    asp-fallback-test="window.bootstrap"
                    asp-suppress-fallback-integrity="true">
            </script>
        </environment>*@
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }
</body>
</html>
