@{
    ViewBag.Title = "Error";
}

<h1>@ViewBag.ErrorMsg</h1>
@*<h4>Original Path: @ViewBag.Path</h4>
<h4>Query String: @ViewBag.QryStr</h4>*@
<a asp-controller="Home" asp-action="Index">Click here to go back to main page.</a>